html {
  background-color: #fff;
}

$bb1: #F3C759;
$bb2: #FBE481;
$bb3: #FEF7D5;

body {
  .balloon1 {
    top: 50vh;
    left: 50vw;
    position: absolute;
    background-color: $bb3;
    border-radius: 2.5em;
    width: 5em;
    height: 5em;
  }

  .balloon2 {
    top: 88vh;
    left: 21vw;
    position: absolute;
    background-color: $bb2;
    border-radius: 1.5em;
    width: 3em;
    height: 3em;
  }

  .balloon3 {
    top: 14vh;
    left: 78vw;
    position: absolute;
    background-color: $bb3;
    border-radius: 1.7em;
    width: 3.4em;
    height: 3.4em;
  }

  .balloon4 {
    top: 45vh;
    left: 91vw;
    position: absolute;
    background-color: $bb1;
    border-radius: 2.4em;
    width: 4.8em;
    height: 4.8em;
  }

  .balloon5 {
    top: 32vh;
    left: 19vw;
    position: absolute;
    background-color: $bb2;
    border-radius: 2em;
    width: 4em;
    height: 4em;
  }

  .balloon6 {
    top: 79vh;
    left: 75vw;
    position: absolute;
    background-color: $bb2;
    border-radius: 3.5em;
    width: 7em;
    height: 7em;
  }


}
