body {
    padding: 40px 0 40px 0;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
    font-size: 15pt;
    height: 100%;
    text-align: center;
    word-wrap: normal;
}

p {
    line-height: 1.3em;
}

a, a:link, a:visited, a:hover, a:active {
    color: white;
}

.title-area {
}

.content-area {
    width: 700px;
    margin: 60px 0 100px 50px;
    text-align: left;
}

.term_blink {
    font-size: 2em;
    width: 10px;
    background-color: white;
    -webkit-animation:blink 0.5s step-end infinite alternate;
    -moz-animation:blink 0.5s step-end infinite alternate;
    animation:blink 0.6s step-end infinite alternate;
}

.title {
    font-size: 1.5em;
}

.link {
    font-size: 1.1em;
    margin-top: 20px;
}

.link3 {
    margin-top: 50px;
}

.profile {
    margin-top: 30px;
}

.profile > div {
    margin-top: 10px;
}

@-webkit-keyframes blink{
    0%,20% {opacity: 0}
    80%,100% {opacity: 1}
}
@-moz-keyframes blink{
    0%,20% {opacity: 0}
    80%,100% {opacity: 1}

}
@keyframes blink{
    0%,40% {opacity: 0}
    41%,100% {opacity: 1}
}

.bound {
  display: inline-block;
  animation: bound .5s infinite;
}

@keyframes bound {
  0% {transform: translate(0px, 0px)}
  10% {transform: translate(0px, -10px)}
  20% {transform: translate(0px, -12px)}
  30% {transform: translate(0px, -13px)}
  40% {transform: translate(0px, -13px)}
  50% {transform: translate(0px, -13px)}
  60% {transform: translate(0px, -11px)}
  70% {transform: translate(0px, -9px)}
  80% {transform: translate(0px, -5px)}
  90% {transform: translate(0px, -1px)}
  100% {transform: translate(0px, -1px)}
}

.drop {
  display: inline-block;
  animation: drop .8s infinite;
}

@keyframes drop {
  0% {transform: translate(0px, 0px)}
  10% {transform: translate(0px, 10px)}
  20% {transform: translate(0px, 10px)}
  30% {transform: translate(0px, 15px)}
  40% {transform: translate(0px, 30px)}
  50% {transform: translate(0px, 60px)}
  60% {transform: translate(0px, 120px)}
  70% {transform: translate(0px, 240px)}
  80% {transform: translate(0px, 480px)}
  90% {transform: translate(0px, 920px)}
  100% {transform: translate(0px, 1840px)}
}

.slide {
  display: inline-block;
  animation: slide .8s infinite;
}

@keyframes slide {
  0% {transform: translate(0px, 0px)}
  10% {transform: translate(1px, 0px)}
  20% {transform: translate(2px, 0px)}
  30% {transform: translate(3px, 0px)}
  40% {transform: translate(4px, 0px)}
  50% {transform: translate(4px, 0px)}
  60% {transform: translate(5px, 0px)}
  70% {transform: translate(5px, 0px)}
  80% {transform: translate(5px, 0px)}
  90% {transform: translate(3px, 0px)}
  100% {transform: translate(0px, 0px)}
}

.buruburu {
  display: inline-block;
  animation: buruburu .1s infinite;
}

@keyframes buruburu {
  0% {transform: translate(0px, 0px) rotateZ(0deg)}
  25% {transform: translate(1px, 1px) rotateZ(1deg)}
  50% {transform: translate(0px, 1px) rotateZ(0deg)}
  75% {transform: translate(1px, 1px) rotateZ(1deg)}
  100% {transform: translate(0px, 0px) rotateZ(0deg)}
}
