body {
    padding: 40px 0 40px 0;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
    font-size: 15pt;
    text-align: center;
}

p {
    line-height: 1.3em;
}

a, a:link, a:visited, a:hover, a:active {
    color: white;
}

.title-area {
}

.content-area {
    width: 500px;
    margin: 60px auto 0 auto;
    text-align: left;
}

.term_blink {
    font-size: 2em;
    width: 10px;
    background-color: white;
    -webkit-animation:blink 0.5s step-end infinite alternate;
    -moz-animation:blink 0.5s step-end infinite alternate;
    animation:blink 0.6s step-end infinite alternate;
}

.title {
    font-size: 1.5em;
}

.link {
    font-size: 1.1em;
    margin-top: 20px;
}

.link3 {
    margin-top: 50px;
}

.profile {
    margin-top: 30px;
}

.profile > div {
    margin-top: 10px;
}

@-webkit-keyframes blink{
    0%,20% {opacity: 0}
    80%,100% {opacity: 1}
}
@-moz-keyframes blink{
    0%,20% {opacity: 0}
    80%,100% {opacity: 1}

}
@keyframes blink{
    0%,40% {opacity: 0}
    41%,100% {opacity: 1}
}

.kurukuru {
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
