.icon {
  width: 120px;
  position: fixed;
  top: auto;
  bottom: 30px;
  right: 30px;
}

.content-area {
  font-size: 1em;
}

.content-area .link {
  font-size: 2em;
}

.link {
  line-height: 1.5em;
}

.buruburu {
  font-size: 2em;
}

.kurukuru {
  font-size: 2em;
}

.bound-right {
  font-size: 2em;
}

.drop {
  font-size: 2em;
}

.mobile-s {
  font-size: 0.8em;
}

